#container {
    width: 50%;
    justify-content: start;
    display: flex;
    background: red;
    border-radius: 20px;
    
}
.card {
    width: 300px;
    height: 150px;
    background: rgb(162, 235, 253);
    color: #fff;
    text-align: center;
    font-size: 20px;
}